<app-header titulo="{{titulo}}"></app-header>

<ion-content>
<!-- Comienza Lista -->
<ion-list>
  <ion-list-header>
   <ion-label>Formato Fechas</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Fecha de Nacimiento: </ion-label>
    <ion-datetime placeholder="MM-DD-YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Nacimiento: </ion-label>
    <ion-datetime placeholder="MM-DD-YYYY" 
     value="{{ fechaNaci | date: 'yyyy-MM-dd' }}" display-format="DD MMMM YYYY"
     cancelText="Cancelar" doneText="Aceptar">
    </ion-datetime>
  </ion-item>

  <ion-list-header>
    <ion-label>Restricciones</ion-label>
   </ion-list-header>

   <ion-item>
    <ion-label>Fecha minima o maxima: </ion-label>
    <ion-datetime placeholder="MM-DD-YYYY" 
     display-format="DD MMMM YYYY"
     min="2021-01-01"
     max="2025-12-31"
     cancelText="Cancelar" doneText="Aceptar">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Solo años: </ion-label>
    <ion-datetime placeholder="YYYY" 
     display-format="YYYY"
     min="2015"
     max="2025"
     value="2021"
     cancelText="Cancelar" doneText="Aceptar">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Piker Options: </ion-label>
    <ion-datetime [pickerOptions]="customPickerOptions">
    </ion-datetime>
  </ion-item>

</ion-list>
<!-- Termina Lista -->
</ion-content>
