<app-header titulo="{{titulo}}"></app-header>

<ion-content>

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
        <ion-list-header>One-on-one</ion-list-header>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Filtrar</ion-card-subtitle>
            </ion-card-header>
            <ion-label class="ion-margin-top ion-padding strong">Estado:</ion-label>
            <ion-select placeholder="Todos">
                <ion-select-option value="1">Activo</ion-select-option>
                <ion-select-option value="2">Inactivo</ion-select-option>
            </ion-select>
            <ion-label class="ion-margin-top ion-padding strong">Cliente:</ion-label>
            <ion-select placeholder="Todos">
                <ion-select-option value="1">Emir Morales aaaaaaaaa</ion-select-option>
                <ion-select-option value="2">Yareth Barrientos</ion-select-option>
                <ion-select-option value="3">Ximena Presa Juarez</ion-select-option>
            </ion-select>
            <ion-label class="ion-margin-top ion-padding strong">Programa:</ion-label>
            <ion-select placeholder="Todos">
                <ion-select-option value="1">Cycling</ion-select-option>
                <ion-select-option value="2">Crossfit</ion-select-option>
                <ion-select-option value="3">Cardio</ion-select-option>
            </ion-select>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <div class="ion-margin-top ion-padding">
                <ion-button color="danger">Filtrar</ion-button>
            </div>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">Nombre</ion-text>
                        </ion-col>
    
                        <ion-col>
                            <ion-text class="strong">Cliente</ion-text>
                        </ion-col>
    
                        <ion-col>
                            <ion-text class="strong">Programa</ion-text>
                        </ion-col>
    
                        <ion-col>
                            <ion-text class="strong">Estado</ion-text>
                        </ion-col>
                    <ion-col>
                        <ion-text class="strong"></ion-text>
                    </ion-col>
                    </ion-row>
    
    
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                Plan de entrenamiento
                            </ion-text>
                        </ion-col>
    
                        <ion-col>
                            <ion-text>
                                Pablo Mendoza
                            </ion-text>
                        </ion-col>
    
                        <ion-col>
                            <ion-text class="strong">
                                Rutina en casa
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="strong">
                                Activo
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text>
                                <div class="ion-text-end">
                                    <ion-button size="small" color="light"> +</ion-button>
                                </div>
                            </ion-text>
                        </ion-col>
                    </ion-row>
    
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>