<app-header titulo="{{titulo}}"></app-header>

<ion-content color="gray-light">

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
      <ion-list-header color="gray-light">Cuotas</ion-list-header>
        <ion-card color="gray">
            <ion-card-header>
              <ion-label color="light">Filtrar</ion-label>
              </ion-card-header>
              <ion-label class="ion-margin-top ion-padding strong">Programas:</ion-label>
        <ion-select placeholder="Todos" [(ngModel)]="cuotas">
            <ion-select-option [value]="nombrePrograma"></ion-select-option>
        </ion-select>
        <ion-label class="ion-margin-top ion-padding strong">Tipo de venta:</ion-label>
        <ion-select placeholder="Todos"  [(ngModel)]="cuotas">
            <ion-select-option value="1">Emir Morales aaaaaaaaa</ion-select-option>
        </ion-select>
        <ion-label class="ion-margin-top ion-padding strong">Nombre</ion-label>
        <ion-item translucent color="gray">
            <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
        </ion-item>
          <div class="ion-margin-top ion-padding">
          <ion-button color="warning">Filtrar</ion-button>
        </div>
    </ion-card>
    <ion-card color="gray">
      <ion-card-content>
              <ion-grid class="ion-text-left">
                <ion-row class="header-row">
                  <ion-col>
                    <ion-text class="strong">Nombre</ion-text>
                  </ion-col>
            
                  <ion-col>
                    <ion-text class="strong">Precio</ion-text>
                  </ion-col>
            
                  <ion-col>
                    <ion-text class="strong">Creditos cuota</ion-text>
                  </ion-col>

                  <ion-col>
                      <ion-text class="strong"></ion-text>
                    </ion-col>
                </ion-row>
            
            
                <ion-row>
                  <ion-col>
                    <ion-text>
                        {{cuotas.nombreCuota}}
                    </ion-text>
                  </ion-col>
            
                    <ion-col>
                      <ion-text>
                        {{cuotas.precio}}
                      </ion-text>
                    </ion-col>

                    <ion-col>
                      <ion-text class="strong">
                        {{cuotas.descripcion}}
                      </ion-text>
                    </ion-col>
              
                    <ion-col>
                      <ion-text >
                          <div  class="ion-text-end">
                              <ion-button size="small" color="light"> +</ion-button>
                          </div>
                      </ion-text>
                    </ion-col>
                </ion-row>
            
              </ion-grid>
      </ion-card-content>
  </ion-card>
    </div>

</ion-content>
