<app-header titulo="{{titulo}}"></app-header>

<ion-content>

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
        <ion-list-header>Métricas:</ion-list-header>
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">INGRESOS MENSUALES RECURRENTES</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                $998.00
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">INGRESOS ANUALES RECURRENTES</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                $998.00
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">INGRESOS MEDIO POR CLIENTE</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                $998.00
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">TIEMPO DE VIDA DE CLIENTES</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                $998.00
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">TASA DE BAJA DE CLIENTES</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                $998.00
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">COSTE DE BAJA DE CLIENTE</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                $998.00
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        </div>
</ion-content>