<app-header titulo="{{titulo}}"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Invita un centro y gana 1 mes gratis.</ion-card-title>
          <ion-card-subtitle>Tú ganaras un mes gratis Cuando el centro invitado pague su primera mensualidad.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">*Email</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <div class="ion-margin-top ion-padding">
              <ion-label>Email del centro que quieres invitar</ion-label>
              </div>
              <div class="ion-margin-top ion-padding">
                <ion-button color="danger">Invita</ion-button>
              </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
                <ion-grid class="ion-text-left">
                  <ion-row class="header-row">
                    <ion-col>
                      <ion-text class="strong">Email</ion-text>
                    </ion-col>
              
                    <ion-col>
                      <ion-text class="strong">Estado</ion-text>
                    </ion-col>
              
                    <ion-col>
                      <ion-text class="strong">Ultima actualización</ion-text>
                    </ion-col>
                  </ion-row>
              
              
                  <ion-row>
                    <ion-col>
                      <ion-text>
                      </ion-text>
                    </ion-col>
              
                      <ion-col>
                        <ion-text>
                        </ion-text>
                      </ion-col>
  
                      <ion-col>
                        <ion-text>
                        </ion-text>
                      </ion-col>
                  </ion-row>
              
                </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
