<app-header titulo="{{titulo}}"></app-header>

<ion-content>

  
  <div class="ion-margin-top ion-padding">
    <ion-list-header>Weightlifting</ion-list-header>
    <div  class="ion-text-end">
      <ion-button size="small" color="warning"> +</ion-button>
  </div>
      <ion-card>
          
          <ion-card-header>
          </ion-card-header>
          <ion-card-content >
              <ion-grid class="ion-text-left">
                  <ion-row class="header-row">
                      <ion-col>
                          <ion-text class="strong">Nombre</ion-text>
                      </ion-col>
                      <ion-col>
                          <ion-text class="strong">Global</ion-text>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col>
                          <ion-text>
                              100 meters run
                          </ion-text>
                      </ion-col>

                      <ion-col>
                          <ion-text>
                             30:20
                          </ion-text>
                      </ion-col>
                  </ion-row>

              </ion-grid>
          </ion-card-content>
      </ion-card>
</div>
</ion-content>
