<app-header titulo="{{titulo}}"></app-header>

<ion-content color="gray-light">

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
        <ion-list-header color="gray-light">Clientes activos</ion-list-header>
        <ion-card color="gray">
            <ion-item color="warning">
                <ion-label color="light">Filtrar</ion-label>
            </ion-item>
              <ion-card-content class="ion-padding-top">
                <ion-label>*Años</ion-label>
                <ion-item color="gray">
                  <ion-label>2021</ion-label>
                  <ion-checkbox color="warning" checked slot="start"></ion-checkbox>
                </ion-item>
                <ion-item color="gray">
                    <ion-label>2022</ion-label>
                    <ion-checkbox color="warning" checked slot="start"></ion-checkbox>
                  </ion-item>
                  <div class="ion-margin-top ion-padding">
                    <ion-button color="warning">Filtrar</ion-button>
                  </div>
              </ion-card-content>
    </ion-card>
        <ion-card color="gray">
            <ion-card-content class="ion-text-center">
                <ion-grid class="ion-text-center">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">MINIMA</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text >
                               283
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card color="gray">
            <ion-card-content class="ion-text-center">
                <ion-grid class="ion-text-center">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">MÁXIMA</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text >
                               438
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card color="gray">
            <ion-card-content class="ion-text-center">
                <ion-grid class="ion-text-center">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">MEDIA</ion-text>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text >
                               355
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        </div>
</ion-content>
