<!--  Comienza Grid de Formulario-->
  <ion-grid>
<!--    Comienza Row de Formulario-->
    <ion-row>
<!--     Comienza unidad de medida -->
      <ion-col size="12" size-lg="4" size-md="6" size-sm="12">
       <ion-label><strong>Unidad de Medida:</strong></ion-label>
        <ion-select placeholder="Seleccione una unidad de medida">
         <ion-select-option *ngFor="let unidadMedida of unidadesMedida">{{unidadMedida.nombreUnidadMedida}}</ion-select-option>
       </ion-select>
      </ion-col>
<!--     Termina unidad de medida -->
    </ion-row>
<!--    Termina Row de Formulario-->
  </ion-grid>
<!--  Termina Grid Formulario-->
