<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start"> 
      <ion-menu-button color="warning" menu="first" *ngIf="inicio"></ion-menu-button>
      <ion-back-button defaultHref="/" icon="chevron-back-outline" text="atras" *ngIf="!inicio"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">CrossGym AR7</ion-title>
  <ion-buttons slot="end">
    <ion-button color="warning">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-buttons>  
  </ion-toolbar>
</ion-header>
