<app-header titulo="{{titulo}}"></app-header>

<ion-content color="gray-light">
    <ion-list-header color="gray-light">Clases por Coach</ion-list-header>
        <ion-card color="gray">
          <ion-grid>
           <ion-row>
            <ion-col>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Circle-icons-check.svg/1200px-Circle-icons-check.svg.png">
          </ion-col>
          <ion-col>
          <ion-item color="gray">
          </ion-item> 
          <ion-card-content>
            <p>Clases</p>
            <ion-row>
                <ion-col>
                  <ion-text>
                    215
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-col>
                <ion-text>215 impartidas, 0 canceladas</ion-text>
              </ion-col>
          </ion-card-content>
          </ion-col>
           </ion-row>
          </ion-grid>
        </ion-card>
        <!--                    -->
            <ion-card color="gray">
              <ion-grid>
               <ion-row>
                <ion-col>
              <img src="https://www.kindpng.com/picc/m/236-2360465_group-people-icon-png-clipart-png-download-social.png">
              </ion-col>
              <ion-col>
              <ion-item color="gray">
              </ion-item> 
              <ion-card-content>
                <p>Reservas</p>
                <ion-row>
                    <ion-col>
                      <ion-text>
                        215
                      </ion-text>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
              </ion-col>
               </ion-row>
              </ion-grid>
            </ion-card>
             <!--                    -->
            <ion-card color="gray">
              <ion-grid>
               <ion-row>
                <ion-col>
              <img src="https://cdn-icons-png.flaticon.com/512/223/223082.png">
              </ion-col>
              <ion-col>
              <ion-item color="gray">
              </ion-item> 
              <ion-card-content>
                <p>Lista de espera</p>
                <ion-row>
                    <ion-col>
                      <ion-text>
                        0
                      </ion-text>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
              </ion-col>
               </ion-row>
              </ion-grid>
            </ion-card>
</ion-content>
