<app-header titulo="{{titulo}}"></app-header>

<ion-content>

  <ion-fab slot="fixed">
    <ion-fab-button><ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="green"><ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <!-- Comienza Lista Botones-->
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-google"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-github"></ion-icon></ion-fab-button>
    </ion-fab-list>
  <!-- Termina Lista Botones -->
  </ion-fab>

<!-- Comienza Lista -->
  <ion-list>
   <ion-item *ngFor="item of items; let i = index">
   Item {{i+1}}
   </ion-item>
  </ion-list>
<!-- Termina Lista -->
</ion-content>
<ion-footer>Este es el footer</ion-footer>