<app-header titulo ="{{titulo}}"></app-header>

<ion-content>
<ion-list-header>
  <ion-label>Nombre: {{nombre || 'No hay nombre'}}</ion-label>
</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
  </ion-list>
 <form #formulario="ngForm" (submit)="onSubmitTemplate();">
   <ion-list>
     <ion-list-header>
       <ion-label>Formulario Template: Valido {{ formulario.valid }}</ion-label>
     </ion-list-header>
   </ion-list>
  <ion-item>
    <ion-label position="floating">Email: </ion-label>
    <ion-input [(ngModel)]="usuario.email" type="email" name="email" 
    pattern="^([a-za-z0-9_\-\.]+)@([a-za-z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password: </ion-label>
    <ion-input [(ngModel)]="usuario.password" type="password" name="password" required></ion-input>
  </ion-item>
  <ion-button expand="full" type="submit" [disabled]="formulario.invalid">Submit</ion-button>
 </form>
</ion-content>
