
<app-header titulo="{{titulo}}"></app-header>
<ion-content class="ion-padding">
<ion-button expand='full' color="primary" (click)="presentAlert()">Mostrar Alerta</ion-button>
<ion-button expand='full' color="primary" (click)="presentAlertMultipleButtons()">Botones Multiples</ion-button>
<ion-button expand='full' color="primary" (click)="presentAlertConfirm()">Alert Confirm</ion-button>
<ion-button expand='full' color="primary" (click)="presentAlertPrompt()">Alert Prompt</ion-button>
<ion-button expand='full' color="primary" (click)="presentAlertCheckbox()">Alert Checkbox</ion-button>
<ion-button expand='full' color="primary" (click)="presentAlertRadio()">Alert Radio</ion-button>
<ion-button expand='full' color="primary" (click)="presentAlertPrompt()">Alert prompt</ion-button>
<ion-button expand='full' color="primary" (click)="presentAlertAction()">Alert Action</ion-button>
</ion-content>

