<app-header titulo="{{titulo}}"></app-header>

<ion-content>

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
        <ion-label class="strong">Avisos</ion-label>
    </div>
    <ion-card>
        <ion-card-content>
            <ion-grid class="ion-text-left">
                <ion-row class="header-row">
                    <ion-col>
                        <ion-text class="strong">Asunto</ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text class="strong">Fecha inicio</ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text class="strong">Fecha final</ion-text>
                    </ion-col>
                <ion-col>
                    <ion-text class="strong"></ion-text>
                </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col>
                        <ion-text>
                           Aumento de mesualidad 2022
                        </ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text>
                            01/01/22
                        </ion-text>
                    </ion-col>

                    <ion-col>
                        <ion-text class="strong">
                            01/01/22
                        </ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text>
                            <div class="ion-text-end">
                                <ion-button size="small" color="light"> +</ion-button>
                            </div>
                        </ion-text>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>