<app-header titulo="{{titulo}}"></app-header>

<ion-content>

    <!--              buscador                 -->
    <div class="ion-margin-top ion-padding">
        <ion-list-header>Leads</ion-list-header>

        <ion-header translucent>
            <ion-toolbar>
              <ion-searchbar></ion-searchbar>
            </ion-toolbar>
          </ion-header>

        <!--card de detalles de las leads-->
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">Nombre completo</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Email</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Telefono</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Estado</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="strong">Fecha conver..</ion-text>
                        </ion-col>
 
                        <ion-col>
                            <ion-text class="strong"></ion-text>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col>
                            <ion-text>
                                Plan de entrenamiento
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                Pablo Mendoza
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">
                                Rutina en casa
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="strong">
                                Activo
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="strong">
                                Activo
                            </ion-text>
                        </ion-col>
                        
                        <ion-col>
                            <ion-text>
                                <div class="ion-text-end">
                                    <ion-button size="small" color="light"> +</ion-button>
                                </div>
                            </ion-text>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>