<app-header titulo="{{titulo}}"></app-header>

<ion-content>

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
        <ion-label class="strong">Programas</ion-label>
        <ion-card>
            <ion-card-content>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">Nombre</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong"></ion-text>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col>
                            <ion-text>
                                Corssfit
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                <div class="ion-text-end">
                                    <ion-button size="small" color="light"> +</ion-button>
                                </div>
                            </ion-text>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>