<app-header titulo="{{titulo}}"></app-header>

<ion-content>
  <div class="ion-margin-top ion-padding">
    <ion-list-header>Engagement Manual</ion-list-header>
          <div class="ion-text-end">
              <ion-button size="small" color="light">+</ion-button>
          </div>
    <!--card de correos enviados-->
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-grid class="ion-text-center">
          <ion-row class="header-row">
            <ion-col>
              <ion-text class="strong">Correos Enviados</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>
                0/1000
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!-- termina-->
    <!--card de renovacion-->
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-grid class="ion-text-center">
          <ion-row class="header-row">
            <ion-col>
              <ion-text class="strong">Renueva todos los meses</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>

              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!-- termina-->
    <!--Tabla de manual-->
    <ion-card>
      <ion-card-content class="ion-text-left">
        <ion-grid class="ion-text-left">
          <ion-row class="header-row">
            <ion-col>
              <ion-text class="strong">Asunto</ion-text>
            </ion-col>

            <ion-col>
              <ion-text class="strong">Destinatarios</ion-text>
            </ion-col>

            <ion-col>
              <ion-text class="strong">Abiertos</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="strong">Clicks</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="strong">Fallos</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="strong">Estado</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="strong">F. Alta</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="strong">F. Envio</ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="strong"></ion-text>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col>
              <ion-text>
                Mensual
              </ion-text>
            </ion-col>

            <ion-col>
              <ion-text>
                132
              </ion-text>
            </ion-col>

            <ion-col>
              <ion-text class="strong">
                $4421212121
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                132
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                132
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                132
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                132
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                132
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text>
                <div class="ion-text-end">
                  <ion-button size="small" color="light"> +</ion-button>
                </div>
              </ion-text>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>