<app-header titulo="{{titulo}}"></app-header>

<ion-content color="gray-light">

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
        <ion-list-header color="gray-light">Horarios:</ion-list-header>
        <ion-card color="gray">
            <ion-card-content>
                <ion-card-header>
                    <ion-label color="light">Cycling</ion-label>
                  </ion-card-header>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">Duración</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Días</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Coach</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Sala</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="strong"></ion-text>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col>
                            <ion-text>
                               {{horarios.horaInicio}} To {{horarios.horaFin}}
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                lun,mart,mierc.
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">
                                {{horarios.coach}}
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">
                                {{horarios.sala}}
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                <div class="ion-text-end">
                                    <ion-button size="small" color="light"> +</ion-button>
                                </div>
                            </ion-text>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>