<app-header titulo="{{titulo}}"></app-header>

<ion-content>

    <!--              Selector de reservas                -->
    <div class="ion-margin-top ion-padding">
        <ion-list-header>Horarios:</ion-list-header>
        <ion-card>
            <ion-card-content>
                <ion-card-header>
                    <ion-card-subtitle>Cycling</ion-card-subtitle>
                  </ion-card-header>
                <ion-grid class="ion-text-left">
                    <ion-row class="header-row">
                        <ion-col>
                            <ion-text class="strong">Duración</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Días</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Coach</ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">Sala</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-text class="strong"></ion-text>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col>
                            <ion-text>
                                7:00a.m to 9:00a.m
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                lun,mart,mierc.
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">
                                Nadia Castillo
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text class="strong">
                                area de Cycling
                            </ion-text>
                        </ion-col>

                        <ion-col>
                            <ion-text>
                                <div class="ion-text-end">
                                    <ion-button size="small" color="light"> +</ion-button>
                                </div>
                            </ion-text>
                        </ion-col>
                    </ion-row>

                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>