<app-header titulo="{{titulo}}"></app-header>

<ion-content>
    <div class="ion-margin-top ion-padding">
        <ion-list-header>Ausentes</ion-list-header>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Filtrar</ion-card-subtitle>
              </ion-card-header>
                       <!--             Selector de fecha             -->
    <div class="ion-padding-horizontal">
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime  placeholder="DD/MM/YYYY" id="fecha" display-format="DD/MMMM/YYYY"></ion-datetime>
    </div>
    <div class="ion-padding-horizontal">
        <ion-label>Fecha de finalización</ion-label>
        <ion-datetime  placeholder="DD/MM/YYYY" id="fecha" display-format="DD/MMMM/YYYY"></ion-datetime>
    </div>
              <ion-label class="ion-margin-top ion-padding strong">Programa:</ion-label>
        <ion-select placeholder="Todos">
            <ion-select-option value="1">CROSSFIT</ion-select-option>
            <ion-select-option value="2">CROSSFIT KIDS</ion-select-option>
            <ion-select-option value="3">CYCLING</ion-select-option>
        </ion-select>
        <ion-label class="ion-margin-top ion-padding strong">Cliente:</ion-label>
        <ion-select placeholder="Todos">
            <ion-select-option value="1">Emir Morales aaaaaaaaa</ion-select-option>
            <ion-select-option value="2">Yareth Barrientos</ion-select-option>
            <ion-select-option value="3">Ximena Presa Juarez</ion-select-option>
        </ion-select>

          <div class="ion-margin-top ion-padding">
          <ion-button color="danger">Filtrar</ion-button>
        </div>
    </ion-card>
        </div>
</ion-content>