<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{tituloMenu}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

<!-- opciones menu       -->
      <ion-menu-toggle>
<!-- mostrar menu principal -->      
      <ion-list>
          <ion-item routerLink="/inicio" *ngIf="!menuPrincipal" (click)="mostrarMenuPrincipal()">
            <ion-icon name="arrow-back" slot="start" color="primary">
            </ion-icon>
            <ion-label color="primary">Menu Principal</ion-label>
          </ion-item>
        </ion-list>
       <ion-list *ngFor="let opcion of componentes">
        <ion-item [routerLink]="opcion.redirectTo">
          <ion-icon [name]="opcion.icon" slot="start" color="primary"></ion-icon>
          <ion-label color="primary">{{opcion.name}}</ion-label>
        </ion-item>
       </ion-list>
<!-- mostrar menu de Administrador -->
      <ion-list>
        <ion-item routerLink="/dashboard" *ngIf="menuPrincipal" (click)="mostrarMenuAdministrador()">
          <ion-icon name="construct" slot="start" color="primary">
          </ion-icon>
          <ion-label color="primary">Administrador </ion-label>
        </ion-item>
       </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
