<ion-menu side="start" menuId="first" contentId="main">
    <ion-header color="dark">
      <ion-toolbar color="dark">
        <ion-title color="warning">{{tituloMenu}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="gray">

<!-- opciones menu       -->
<!-- mostrar menu principal -->      
      <div>
          <ion-item  color="gray" routerLink="/inicio" *ngIf="!menuPrincipal" (click)="mostrarMenuPrincipal()">
            <ion-icon name="arrow-back" slot="start" color="warning">
            </ion-icon>
            <ion-label color="warning">Menu Principal</ion-label>
          </ion-item>
        </div>
       <div *ngFor="let opcion of componentes;let i = index">
<!--           Se muestra si tiene hijos (Es dropdown).-->
        <ion-item  color="gray"  *ngIf="opcion.hijos.length>0" (click)="desplegar(i)">
          <ion-icon [name]="opcion.icon" slot="start" color="warning"></ion-icon>
          <ion-label color="warning">{{opcion.name}}</ion-label>
        </ion-item>
           <!--           Se muestra si no tiene hijos (No es dropdown).-->
           <ion-item  color="gray" [routerLink]="opcion.redirectTo" *ngIf="opcion.hijos.length == 0" (click)="cerrarMenu()">
               <ion-icon [name]="opcion.icon" slot="start" color="warning"></ion-icon>
               <ion-label color="warning">{{opcion.name}}</ion-label>
           </ion-item>
               <div color="gray-light" *ngIf="opcion.hijosVisibles">
                   <ion-item color="gray-light" *ngFor="let subOpcion of opcion.hijos" [routerLink]="subOpcion.redirectTo" (click)="cerrarMenu()">
                       <ion-icon [name]="subOpcion.icon" slot="start" color="warning"></ion-icon>
                       <ion-label color="warning">{{subOpcion.name}}</ion-label>
                   </ion-item>
           </div>
       </div>
<!-- mostrar menu de Administrador -->

        <ion-item color="gray" routerLink="/dashboard" *ngIf="menuPrincipal" (click)="mostrarMenuAdministrador()">
          <ion-icon name="construct" slot="start" color="warning">
          </ion-icon>
          <ion-label color="warning">Administrador </ion-label>
        </ion-item>
    </ion-content>
  </ion-menu>
